@media screen and (max-width: 767px) {
  header h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  header h1 {
    margin-top: 2rem;
    font-size: 3rem;
  }
  
  .about-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; 
  }
  
  
.about {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
  

.about-image {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  border-radius: 50%;
}

.about-image img {
  max-width: 20%;
  height: auto;
}


  
.about-content {
  display: inline-block;
  width: 79%;
  max-width: none; 
  text-align: center; 
  position: static; 
}

  
  .about-text h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .about-text p {
    font-size: 1.5rem;
    color: #444;
  }
  
  .social-icons {
    margin-top: 1rem;
    text-align: center; 
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 2rem; 
  }
  
  .social-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  
  .comments {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .comments h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .footer-content {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 999; 
  }

  @media screen and (max-width: 767px) {
    footer {
      padding: 2rem 0; 
    }
  }
  